docker/n8n/workflows/vitalflow-master-automation.json
{
  "name": "VitalFlow TikTok Automation Master",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,12,18 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-api:5000/api/automation/generate-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_category",
              "value": "={{ $json.category || 'energy' }}"
            },
            {
              "name": "content_type",
              "value": "={{ ['transformation', 'educational', 'grwm', 'trending'][Math.floor(Math.random() * 4)] }}"
            },
            {
              "name": "auto_schedule",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "generate-content",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "content-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-content-success",
      "name": "Check Content Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-automation:5001/api/queue/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_id",
              "value": "={{ $json.content_id }}"
            },
            {
              "name": "priority",
              "value": 5
            },
            {
              "name": "scheduled_for",
              "value": "={{ $json.scheduled_time }}"
            }
          ]
        },
        "options": {}
      },
      "id": "add-to-queue",
      "name": "Add to Posting Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-analytics:5002/api/events/track",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "content_generated"
            },
            {
              "name": "event_data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "track-analytics",
      "name": "Track Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-api:5000/api/system/log-error",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error_type",
              "value": "content_generation_failed"
            },
            {
              "name": "error_data",
              "value": "={{ $json }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "posting-trigger",
      "name": "Posting Check Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-automation:5001/api/queue/process",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_posts",
              "value": 1
            },
            {
              "name": "check_schedule",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "process-queue",
      "name": "Process Posting Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "posts-processed",
              "leftValue": "={{ $json.posts_processed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-posts-processed",
      "name": "Check Posts Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-analytics:5002/api/events/track",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "posts_processed"
            },
            {
              "name": "event_data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "track-posting-analytics",
      "name": "Track Posting Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "analytics-sync-trigger",
      "name": "Analytics Sync Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        900
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-analytics:5002/api/sync/tiktok",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sync_period_hours",
              "value": 24
            },
            {
              "name": "include_metrics",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "sync-tiktok-analytics",
      "name": "Sync TikTok Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        900
      ]
    },
    {
      "parameters": {
        "url": "http://vitalflow-analytics:5002/api/insights/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "analysis_type",
              "value": "daily"
            },
            {
              "name": "include_recommendations",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "generate-insights",
      "name": "Generate AI Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        900
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Check Content Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Content Success": {
      "main": [
        [
          {
            "node": "Add to Posting Queue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Analytics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posting Check Trigger": {
      "main": [
        [
          {
            "node": "Process Posting Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Posting Queue": {
      "main": [
        [
          {
            "node": "Check Posts Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Posts Processed": {
      "main": [
        [
          {
            "node": "Track Posting Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Sync Trigger": {
      "main": [
        [
          {
            "node": "Sync TikTok Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync TikTok Analytics": {
      "main": [
        [
          {
            "node": "Generate AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "vitalflow-master-automation",
  "tags": [
    {
      "createdAt": "2024-12-13T10:00:00.000Z",
      "updatedAt": "2024-12-13T10:00:00.000Z",
      "id": "vitalflow",
      "name": "VitalFlow"
    }
  ]
}

